<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="split left">
  <div class="container">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" (matSortChange)="sortData($event)">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="selectHandler(row)"
                        [checked]="row.ship.selected">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- mmsi Column -->
      <ng-container matColumnDef="mmsi">
        <mat-header-cell mat-sort-header="mmsi" *matHeaderCellDef> No.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ship.mmsi}} </mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell mat-sort-header="country" *matHeaderCellDef> Country</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ship.country}} </mat-cell>
      </ng-container>

      <!-- Callsign Column -->
      <ng-container matColumnDef="callsign">
        <mat-header-cell mat-sort-header="callsign" *matHeaderCellDef> Callsign</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ship.callsign}} </mat-cell>
      </ng-container>

      <!-- Width Column -->
      <ng-container matColumnDef="width">
        <mat-header-cell mat-sort-header="width" *matHeaderCellDef> Width</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ship.width}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getShipDetailsById(row.ship.mmsi)"
               [ngClass]="{'selected': row.ship.selected}"></mat-row>
    </table>
    <mat-paginator #paginator [pageSize]="10"></mat-paginator>
  </div>
</div>

<div class="split right">
  <div *ngFor="let item of shipToDisplay" fxLayout="row" fxLayoutAlign="center center">
    <mat-card *ngIf="shipToDisplay" class="card">
      <div style="padding:30px" fxLayout="row" fxLayoutAlign="center end">
        <mat-card-title>Ship: {{item.ship.callsign}}</mat-card-title>
      </div>
      <div fxLayout="row" fxLayoutAlign="center end">
        <mat-card-subtitle>Country: {{item.ship.country}}</mat-card-subtitle>
      </div>
      <div fxLayout="row" fxLayoutAlign="center end"><img mat-card-sm-image src="../assets/ship.png"></div>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center end"><p>Destination {{item.ship.destination}}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center end">ETA: {{item.ship.eta | date}}</div>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
